* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --menubar-height: 96px;
    --font-primary: "Jura", sans-serif; /* t.ex. brödtext */
    --font-secondary: "Alfa Slab One", serif; /* t.ex. rubriker, bold */
    --font-accent: "Koulen", sans-serif; /* t.ex. knappar */
}

html {
    scroll-behavior: smooth;
}

.page_container--center {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: min(80%, 1100px);
    margin: 0 auto;
}
