* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --menubar-height: 96px;
    --font-primary: "Jura", sans-serif; /* t.ex. brödtext */
    --font-secondary: "Alfa Slab One", serif; /* t.ex. rubriker, bold */
    --font-accent: "Koulen", sans-serif; /* t.ex. knappar */
    --dark-red: #4c2223;
    --white: #ffffff;
    --yellow: #e9b85c;
    --yellow-hover: #ffc247;
    --dark: #000000;
    --light-grey: #f5f5f5;

    /* --- FullCalendar mappning --- */
    --fc-border-color: rgba(0, 0, 0, 0.1);
    --fc-today-bg-color: rgba(233, 184, 92, 0.1); /* Ljus variant av din gula */

    /* Knappar (använder din gula färg) */
    --fc-button-bg-color: var(--yellow);
    --fc-button-border-color: var(--yellow);
    --fc-button-hover-bg-color: var(--yellow-hover);
    --fc-button-hover-border-color: var(--yellow-hover);
    --fc-button-active-bg-color: var(--dark-red);
    --fc-button-active-border-color: var(--dark-red);

    /* Händelser (använder din mörkröda färg) */
    --fc-event-bg-color: var(--dark-red);
    --fc-event-border-color: var(--dark-red);
    --fc-event-text-color: var(--white);
}

html {
    scroll-behavior: smooth;
}

.home_main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../src/assets/wood2.webp);
    padding-bottom: calc(64px + env(safe-area-inset-bottom));
}
.home_main--centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_main {
    display: flex;
    flex-direction: column;
    /* Dra av höjden för din MenuBar så att main får plats exakt på skärmen */
    height: calc(100vh - var(--menubar-height));
    background-image: url(../src/assets/wood2.webp);
    overflow: hidden; /* Förhindra att main i sig scrollar */
    padding: 2rem 4rem 4rem;
    position: relative;
}

.page_container--center {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: min(90%, 1100px);
    margin: 0 auto;
}

@media (max-width: 900px) {
    .home_main {
        padding-bottom: 0;
    }
    .admin_main {
        height: 100vh;
        padding: 5rem 2rem 2rem;
    }
}
