.menubar_container {
    color: #fff;
}

.menubar_toolbar {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    height: var(--menubar-height);
    min-height: var(--menubar-height);
    padding: 0 1rem;
}

.menuBar_img {
    max-height: 3rem;
    cursor: pointer;
}
