.contact_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    text-align: center;
    width: 100%;
}

.contact_image {
    width: 100%;
    border-radius: 8px;
}

.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.contact_staff-details {
    display: flex;
    flex-direction: row;
}
