.hero_section {
    position: relative;
    display: flex;
    min-height: calc(100svh - var(--menubar-height));
    overflow: hidden;
}

.hero_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 0;
    pointer-events: none;
}
.hero_image--mobile {
    object-position: 60% bottom;
}

.hero_image--desktop {
    object-position: center bottom;
}

.hero_overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    z-index: 1;
}

.hero_overlay--desktop {
    top: 20%;
    left: 5%;
}

.hero_overlay--mobile {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_sign {
    max-width: min(92vw, 420px);
    object-fit: cover;
    border-radius: 2px;
}
