.textbox_container {
    background-color: var(--white);
    color: var(--dark-red);
    padding: 1rem;
}

.textbox_title {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.textbox_text {
    font-family: var(--font-primary);
}

.textbox_text--with-title {
    font-size: 1.1rem;
}

.textbox_text--only {
    font-size: 1.3rem;
}
