.home_main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../src/assets/wood2.webp);
    padding-bottom: calc(64px + env(safe-area-inset-bottom));
}
.home_main--centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_main {
    display: flex;
    flex-direction: column;
    /* Dra av höjden för din MenuBar så att main får plats exakt på skärmen */
    height: calc(100vh - var(--menubar-height));
    background-image: url(../src/assets/wood2.webp);
    overflow: hidden; /* Förhindra att main i sig scrollar */
    padding: 2rem 4rem 4rem;
    position: relative;
}

.page_container--center {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: min(90%, 1100px);
    margin: 0 auto;
}

@media (max-width: 900px) {
    .home_main {
        padding-bottom: 0;
    }
    .admin_main {
        height: 100vh;
        padding: 2rem 2rem 2rem;
    }
}
